.text-red-100 {
  color: "# FF6347";
}

.text-red-200 {
  color: "#EE5C42";
}

.text-red-300 {
  color: "#CD4F39";
}

/*-----text: css cho text ---------*/
/* -------------------- mixin -----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: black;
  height: 50px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .left {
  margin-top: 10px;
}
.header .container .left img {
  width: 100%;
}
.header .container .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .right .basket img {
  width: 50%;
}
.header .container .right .basket span {
  font-size: 20px;
  color: #fff;
}
.header .container .right a {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(182, 178, 178);
  font-weight: 300;
}

.menu .container {
  display: flex;
  align-items: center;
}
.menu .container .navbar a {
  text-decoration: none;
  color: rgb(100, 99, 99);
  margin-right: 20px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.menu .container .navbar a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #000;
  bottom: -3px;
  left: 0;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.menu .container .navbar a:hover {
  color: #000;
}
.menu .container .navbar a:hover::before {
  transform: scale(1, 1);
}

.register {
  height: 538px;
}
.register .container .title {
  font-size: 40px;
  font-weight: 400;
  color: #000;
  line-height: 48px;
  margin: 30px 0 54px 0;
  text-align: center;
}
.register .container .row .col-6 {
  margin-bottom: 27px;
}
.register .container .row .col-6 input {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid rgb(174, 24, 226);
}
.register .container .row .col-6:nth-child(1),
.register .container .row .col-6:nth-child(3),
.register .container .row .col-6:nth-child(5) {
  padding-left: 120px;
}
.register .container .row .col-6:nth-child(2),
.register .container .row .col-6:nth-child(4),
.register .container .row .col-6:nth-child(6) {
  padding-left: 99px;
  padding-right: 97px;
}
.register .container .row .col-6:nth-child(6) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 75px;
}
.register .container .row .col-6:nth-child(6) .gender {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
}
.register .container .row .col-6:nth-child(6) .form-check-inline {
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  line-height: 36px;
  margin-right: 0;
  margin-left: 15px;
}
.register .container .row .col-6:nth-child(6) .form-check-inline .form-check-label {
  display: flex;
  align-items: center;
}
.register .container .row .col-6:nth-child(6) .form-check-inline input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  border: 0.2rem solid #fff;
  background-color: #D9D9D9;
  height: 50px;
  width: 65.4205627441px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 1px var(--color);
  border-width: 0;
  margin-left: 20px;
}
.register .container .row .col-6:nth-child(6) .form-check-inline input[type=radio]:focus-visible {
  outline-offset: 0;
}
.register .container .row .col-6:nth-child(6) .form-check-inline input[type=radio]:checked {
  box-shadow: 0 0 0 1px rgb(174, 24, 226);
  background-color: rgb(174, 24, 226);
  border-width: 5px;
}
.register .container .row .col-12 {
  padding-left: 701px;
  padding-top: 60px;
}
.register .container .row .col-12 .btn-submit {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  line-height: 36px;
  padding: 6px 98.94px 12px 87.3px;
  background-color: #AE18E2;
  border-radius: 0;
}